#{extends 'main.html' /}
#{set title:'FotoStore' /}

#{set 'moreStyles'}
        #{stylesheet 'main.css' /}
#{/set}


    <!-- NAVBAR
    ================================================== -->
    <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
    <div class="container navbar-wrapper">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="brand" style="color:#FFFFFF;" href="#">Foto Store</a></li>
              <li>#{a @Application.exampleBolsas()}Bolsas#{/a}</li>
              <li>#{a @Application.exampleObjectivas()}Objectivas#{/a}</li>
              <!-- Read about Bootstrap dropdowns at  -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maquinas<b class="caret"></b></a>
                <ul class="dropdown-menu">
		          <li><a href="#">#{a @Application.exampleInfantis()}Infantis#{/a}</a></li>
                  <li><a href="#">#{a @Application.exampleAventura()}Aventura#{/a}</a></li>
                  <li><a href="#">#{a @Application.exampleReflex()}Reflex#{/a}</a></li>                 
                </ul>
              </li>

                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <form class="navbar-search pull-right" style="margin-top:9px">
                    <input type="text" class="search-query" placeholder="Search" name="search">
                </form>

            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div><!-- /.container -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner" style="height:300px">
        <div class="item">
          <img src="./public/images/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Qualidade</h1>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./public/images/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Fotografia</h1>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="./public/images/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Aventura</h1>
              <a class="btn btn-large btn-primary" href="//home/joao/Desktop/ws_example_page/first_page_example.html#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="./public/images/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="./public/images/140x140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="./public/images/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="">View details »</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->

	<hr>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="">Back to top</a></p>
        <p>© 2012 Company, Inc. · <a href="">Privacy</a> · <a href="">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    
